/*
    Document   : default
    Created on : Feb 26, 2011, 6:58:39 PM
    Author     : ra100
*/

.scene {
    /* The default font for all content, it in inherited by all nodes */
    -fx-font: 12pt "Helvetica";

    /* Main color palette that the user should play with to change colors of controls */
    -fx-accent: #0093ff;
    -fx-base: #d0d0d0;
    -fx-background: #f4f4f4;
    -fx-control-inner-background: white;
    -fx-focus-color: #0093ff;
    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: white;
}

Label {
    font-family: "Helvetica, Arial, sans serif";
    font-size: 12pt;
    -fx-font: 12pt "Helvetica, Arial, sans serif";
}

Label.maplabel {
    -fx-text-fill: #ffffff;
}

#headerText {
    font-family: 'Helvetica, Arial, serif';
    font-size: 16pt;
    font-weight: bold;
    -fx-font: 16pt 'Helvetica, Arial, serif';
}

#longText {
    font-family: 'Times New Roman';
    font-size: 14pt;
    -fx-font: 14pt 'Times New Roman';
}

Label#comment{
    font-family: 'Helvetica, Arial, sans serif';
    font-size: 12pt;
    -fx-font: 12pt 'Helvetica, Arial, sans serif';
}

Text#comment {
    font-family: 'Helvetica, Arial, sans serif';
    font-size: 12pt;
    -fx-font: 12pt 'Helvetica, Arial, sans serif';
}

Text#message {
    font-family: 'Helvetica, Arial, sans serif';
    font-size: 12pt;
    color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-font: 12pt 'Helvetica, Arial, sans serif';
}